/* ---------------------------------------->  contact Page  <-------------------------------------------- */
.contact-container{
    width: 100%;
    display: flex;
    max-height: 50vh;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.contact-background{
    background-image: url("/resources/contact.png");
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-attachment: fixed; /* Optional: Fixed background */
    background-position: center;
    color:#444444;
}

.info{
    min-width: 40rem;
}
.icon{
    float: left;
    color: #fff;
    background: #00b09b;
    background: -webkit-linear-gradient(to left, #96c93d, #00b09b);
    background: linear-gradient(to left, #96c93d, #00b09b);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    z-index: 1;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}

.contact-container .info li h5 span {
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
}

.contact-container .info li p {
    display: inline-block;
    position: relative;
    font-size: 15px;
}
.contact-container h2{
    padding-top: 1rem;;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.contact-container p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.contact-container form{
    /* display: flex; */
    flex:1;
    
}
.contact-container form input{
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #f4f4f4;
    font-size: 1.2rem;
    font-weight: 400;
}
.contact-container form textarea{
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #f4f4f4;
    font-size: 1.2rem;
    font-weight: 400;
    resize: none;
}
.contact-container form button{
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
#map {
    height: 400px;
    width: 100%;
    padding: 1rem;
}
#map iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
}

@media (max-width:700px){
  /* ----------------------------------> Contact <------------------ */
    .contact-container{
        flex-direction: column;
       max-height: 100%;
    }
    .row{
        width: 100%;
    }
}